<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head/head'); %>
</head>
<body>
    <%- include('../partials/header/header'); %>
    
    <div class="container" style="padding-top: 70px;"></div>
    <br>
    
    <%- include('../partials/forms/formularioProyecto'); %>
            <br>
            <div class="d-block mx-auto my-4 pb-5 text-center">
                <a class="btn btn-primary my-2 me-5" href="/api/auth/index"><i class="fa fa-home" aria-hidden="true"></i> Regresar al Home </a>
                <a class="btn btn-danger my-2 ms-5" href="/api/proyectos/all/delete"><i class="fa fa-trash" aria-hidden="true"></i> Eliminar Todos los Proyectos </a>
            </div>
            <!-- Lista de Proyectos -->
            <section class="mx-auto" style="width: 94%;">
                <div class="row">
                    <div class="col-12 text-left">
                        <hr>
                        <h4 class="text-uppercase">Lista de Proyectos</h4>
                        <p>Departamento de Ingeniería Prodismo</p>
                        <hr>
                    </div>
                </div>
            </section>
            
            <div class="d-block mx-auto px-5 mb-3 text-center w-100">
            <%- include('../partials/data/dataProjectsTable'); %>
            <br>
            <div class="d-block mx-auto my-4 pb-5 text-center">
                <a class="btn btn-primary my-2 me-5" href="/api/auth/index"><i class="fa fa-home" aria-hidden="true"></i> Regresar al Home </a>
                <a class="btn btn-secondary my-2 mx-2" href="#"> Ir arriba <i class="fa fa-arrow-up"></i></a>
                <a class="btn btn-danger my-2 ms-5" href="/api/productos/all/delete"><i class="fa fa-trash" aria-hidden="true"></i> Eliminar Todos los Proyectos </a>
            </div>
            <br>
            <footer>
                <%- include('../partials/footer/footer'); %>
            </footer>
<!--    scripts     -->
<script type="text/javascript" src="../../../clientes.js"></script>
<script type="text/javascript" src="../../../clock.js"></script>
<script type="text/javascript" src="../../../expiresSession.js"></script>

</body>

</html>