<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <%- include('../partials/userBanner'); %>
    <br>
    <h3 class="d-block mx-auto mt-2 mb-2 text-center">This is your Cart...</h3>
    <br>
    <%- include('../partials/cartItemList'); %>
    <br>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>

        <!--    scripts     -->
        <script type="text/javascript" src="../../../clock.js"></script>
        <script type="text/javascript" src="../../../expiresSession.js"></script>
                    
</body>

</html>