<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <div class="container" style="padding-top: 70px;"></div>

        <div class="collapse mt-5 mx-auto" id="collapseExample">
            <%- include('../partials/formularioProyecto'); %>
        </div>
        <br>
        <div class="d-block mx-auto my-2 pb-4 text-center">
            <button class="btn btn-primary my-2 me-5" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Nuevo Proyecto
                <i class="fa-solid fa-plus" aria-hidden="true"></i>
            </button>
            <a class="btn btn-secondary my-2 ms-5" href="/api/auth/index"><i class="fa-solid fa-home" aria-hidden="true"></i>
                Volver al Home </a>
        </div>

        <!-- Lista de Proyectos -->
        <section class="mx-auto" style="width: 94%;">
            <div class="row">
                <div class="col-12 mt-3 mb-1 text-left">
                    <hr>
                    <h4 class="text-uppercase">Proyectos del Cliente <strong><%= cliente.name %></strong></h4>
                    <p>Departamento de Ingeniería Prodismo</p>
                    <hr>
                </div>
            </div>
        </section>
        <div id="updateCliente">
        </div>
        <%- include('../partials/dataProjectsClientCard'); %>
            <br>
            <footer>
                <%- include('../partials/footer'); %>
            </footer>

            <!--    scripts     -->
            <script type="text/javascript" src="../../../projectDetails.js"></script>
            <!-- <script type="text/javascript" src="../../../clientDetail.js"></script> -->
            <script type="text/javascript" src="../../../clock.js"></script>
            <script type="text/javascript" src="../../../expiresSession.js"></script>

</body>

</html>