<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
        <%- include('../partials/userBanner'); %>
    <div class="container text-center">
        <% if( userInfo.admin ) { %>  
        <h4 class="mx-auto my-3">Actualizar o Eliminar Cliente <strong><%=cliente.name %></strong></h4>
        <% } else { %>
            <h4 class="mx-auto my-3">Actualizar Cliente <strong><%=cliente.name %></strong></h4>
        <% } %>    
    </div>
    <div id="updateCliente"> 
    </div>
    <%- include('../partials/formUpdateClient'); %>
    <br>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>

        <!--    scripts     -->
        <script type="text/javascript" src="../../../clientDetail.js"></script>
        <script type="text/javascript" src="../../../clock.js"></script>
        <script type="text/javascript" src="../../../expiresSession.js"></script>
                    
</body>

</html>