<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head/head'); %>
</head>

<body>
        <%- include('../partials/header/header'); %>
    <div class="container" style="padding-top: 70px;"></div>

        <div class="collapse mt-5 mx-auto" id="collapseExample">
            <%- include('../partials/forms/formularioProyecto'); %>
        </div>
        <br>

        <%- include('../partials/btnHeaderTop/btnHeaderTop-newProject'); %>
        
        <!-- Lista de Proyectos -->
        <section class="mx-auto" style="width: 94%;">
            <div class="row">
                <div class="col-12 text-left">
                    <hr>
                    <h4 class="text-uppercase">Proyectos del Cliente <strong><%= cliente.name %></strong></h4>
                    <p>Departamento de Ingeniería Prodismo</p>
                    <hr>
                </div>
            </div>
        </section>
        <div id="updateCliente">
        </div>
        <%- include('../partials/data/dataProjectsClientCard'); %>
            <br>
            <footer>
                <%- include('../partials/footer/footer'); %>
            </footer>

            <!--    scripts     -->
            <script type="text/javascript" src="../../../projectDetails.js"></script>
            <!-- <script type="text/javascript" src="../../../clientDetail.js"></script> -->
            <script type="text/javascript" src="../../../clock.js"></script>
            <script type="text/javascript" src="../../../expiresSession.js"></script>

</body>

</html>