<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head/head'); %>
</head>

<body>
    <header>
        <%- include('../partials/header/header'); %>
    </header>
    <div class="container" style="padding-top: 70px;"></div>
    <br>
    <div class="container-fluid">
        <% if( userInfo.admin ) { %>
       
        <section class="mx-auto" style="width: 94%;">
            <div class="row">
                <div class="col-12">
                    <hr>
                    <h4 class="text-uppercase">Actualizar o Eliminar Cliente <strong><%=cliente.name %></strong></h4>
                    <p>Departamento de Ingeniería Prodismo</p>
                    <hr>
                </div>
            </div>
        </section>

        <% } else { %>
            <!-- <h4 class="mx-auto my-3">Actualizar Cliente <strong><%=cliente.name %></strong></h4> -->
            <section class="mx-auto" style="width: 94%;">
                <div class="row">
                    <div class="col-12 mt-3 mb-1">
                    <hr>
                    <h4 class="text-uppercase">Actualizar Cliente <strong><%=cliente.name %></strong></h4>
                    <p>Departamento de Ingeniería Prodismo</p>
                    <hr>
                    </div>
                </div>
            </section>
        <% } %>    
    </div>
    <div id="updateCliente"> 
    </div>
    <%- include('../partials/forms/formUpdateClient'); %>
    <br>
    <footer>
        <%- include('../partials/footer/footer'); %>
    </footer>

        <!--    scripts     -->
        <script type="text/javascript" src="../../../clientDetail.js"></script>
        <script type="text/javascript" src="../../../clock.js"></script>
        <script type="text/javascript" src="../../../expiresSession.js"></script>
                    
</body>

</html>