<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head/head'); %>
</head>

<body>
    <%- include('../partials/header/header'); %>

    <div class="container" style="padding-top: 70px;"></div>
    <br>
    <div class="collapse" id="collapseExample">
        <%- include('../partials/forms/formularioCliente'); %>
    </div>

    <%- include('../partials/btnHeaderTop/btnHeaderTop-newClient'); %>

    <!-- <div class="d-block mx-auto mt-4 pb-1 text-center">
        <button class="btn btn-primary my-2 me-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
        aria-expanded="false" aria-controls="collapseExample">Nuevo Cliente <i class="fa-solid fa-plus"
            aria-hidden="true"></i>
        </button> -->
        <a class="btn btn-secondary my-2 mx-4" href="/api/auth/index"><i class="fa-solid fa-home"
                aria-hidden="true"></i> Regresar al Home </a>
        <% if( userInfo.admin ){ %>
            <a class="btn btn-danger my-2 ms-4 disabled" href="/api/clientes/all/delete"><i class="fa-solid fa-trash" aria-hidden="true"></i> Eliminar Todos </a>
        <% } %>
    <!-- </div> -->
    <!-- ------------ Lista de Clientes ------------ -->
    <section class="mx-auto align-items-start" style="width: 94%;">
        <div class="row">
            <div class="col-12">
                <hr>
                <h4 class="text-uppercase">Lista de Clientes</h4>
                <p>Departamento de Ingeniería Prodismo</p>
                <hr>
            </div>
        </div>
    </section>
            
    <br>
    <div class="d-block mx-auto mb-3 text-center w-100 px-5">
        <%- include('../partials/data/dataClientTable'); %>
    </div>
    <div class="d-block mx-auto my-4 pb-5 text-center">
        <a class="btn btn-primary my-2" href="/api/auth/index"><i class="fa-solid fa-chevron-circle-left" aria-hidden="true"></i> Regresar al Home </a>
    </div>
    <footer>
        <%- include('../partials/footer/footer'); %>
    </footer>
<!--    scripts     -->
<script type="text/javascript" src="../../../clientes.js"></script>
<script type="text/javascript" src="../../../clock.js"></script>
<script type="text/javascript" src="../../expiresSession.js"></script>

</body>

</html>