<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <% if( userInfo.admin ){ %>
        <div class="d-block mx-auto w-100 text-center alert alert-success mt-1" style="padding-top: 72px;"
            role="alert" id="mostrarUserName"><%= userInfo.name %>, <%= userInfo.lastName %> <span class="badge rounded-pill bg-primary">Admin</span>
            - Visit <span class="badge rounded-pill bg-secondary"><%= visits %></span> 
            <img class="img-fluid rounded-circle float-end me-5 mt-0" alt="Avatar" src="<%= userInfo.avatar %>" width="50px" height="50px">
        </div>
    <% } else { %>
        <div class="d-block mx-auto w-100 text-center alert alert-success mt-1" style="padding-top: 72px;"
            role="alert" id="mostrarUserName"><%= userInfo.name %>, <%= userInfo.lastName %> <span class="badge rounded-pill bg-info text-dark">User</span>
            - Visit <span class="badge rounded-pill bg-secondary"><%= visits %></span> 
            <img class="img-fluid rounded-circle float-end me-5 mt-0" alt="Avatar" src="<%= userInfo.avatar %>" width="50px" height="50px">
        </div>    
    <% } %>
    <br>
    <%- include('../partials/adminChart'); %>

    <br>
        <div class="d-block mx-auto mt-4 my-3 text-center bg-primary-light">
            <%- include('../partials/formularioSearchProduct'); %>    
            <%- include('../partials/dataProductSearch'); %>
        </div>
        <div class="d-block mx-auto mt-5 mb-3 text-center w-75">
            <h3 class="d-block mx-auto my-4 text-center">Lista de Clientes</h3>
        </div>
        <br>
            <div class="d-block mx-auto mb-3 text-center w-75">
                <%- include('../partials/dataClientList'); %>
            </div>
            <br>
            <footer>
                <%- include('../partials/footer'); %>
            </footer>

        <!--    scripts     -->
        <script type="text/javascript" src="../../index.js"></script>
        <script type="text/javascript" src="../../search.js"></script>
        <script type="text/javascript" src="../../clock.js"></script>
        <script type="text/javascript" src="../../expiresSession.js"></script>
</body>
</html>