<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <%- include('../partials/userBanner'); %>
    <h3 class="d-block mx-auto my-2 text-center">Update or Delete your Product</h3>
    <div id="updateProducto"> 
    </div>
    <%- include('../partials/formUpdateProduct'); %>
    <br>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>

        <!--    scripts     -->
        <script type="text/javascript" src="../../../productDetail.js"></script>
        <script type="text/javascript" src="../../../clock.js"></script>
        <script type="text/javascript" src="../../../expiresSession.js"></script>
                    
</body>

</html>