<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <%- include('../partials/userBanner'); %>
        <div class="collapse mt-5 mx-auto" id="collapseExample">
            <%- include('../partials/formularioNewOt'); %>
        </div>
            <br>
            <div class="d-block mx-auto my-2 pb-4 text-center">
                <%- include('../partials/btnProjectSelectedDetail'); %>
            </div>

            <h5 id="projectNameTitle" class="d-block mx-auto mt-2 mb-3 text-center"> </h5>
            <div id="updateCliente">
                
            </div>
            <%- include('../partials/dataProjectCard'); %>
                <br>
                <footer>
                    <%- include('../partials/footer'); %>
                </footer>

                <!--    scripts     -->
                <script type="text/javascript" src="../../../projectInfo.js"></script>
                <script type="text/javascript" src="../../../clock.js"></script>
                <script type="text/javascript" src="../../../expiresSession.js"></script>

</body>

</html>