<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <%- include('../partials/userBanner'); %>

    <%- include('../partials/formularioNewOt'); %>
    
    <div class="d-block mx-auto my-2 pb-4 text-center">
        <a class="btn btn-primary my-1 me-5" href="/api/proyectos/oci/"
        type="button">Agregar OT's <i class="fa-regular fa-plus" aria-hidden="true"></i>
        </a>
        <a class="btn btn-info my-1 mx-5" href="/api/proyectos"><i class="fa fa-reply"
            aria-hidden="true"></i> Volver Atrás
        </a>
        <a class="btn btn-secondary my-1 ms-5" href="/api/auth/index"><i class="fa fa-home"
                aria-hidden="true"></i> Volver al Home
        </a>
    </div>
    
    <h5 class="d-block mx-auto mt-2 mb-3 text-center">Nombre Proyecto: <%=proyecto[0].project[0].projectName %></h5>
    <div id="updateCliente"> 
    </div>
    <%- include('../partials/dataProyectCard'); %>
    <br>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>

        <!--    scripts     -->
        <script type="text/javascript" src="../../../projectInfo.js"></script>
        <script type="text/javascript" src="../../../clock.js"></script>
        <script type="text/javascript" src="../../../expiresSession.js"></script>
                    
</body>

</html>