<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head/head'); %>
</head>

<body>
    <header>
        <%- include('../partials/header/headerLogin'); %>
    </header>
    <div class="container mt-3 mx-auto">
        <h3 class="d-block mx-auto my-3 text-center">Registra tu Usuario</h3>
        <%- include('../partials/forms/formularioRegister'); %>
    </div>

    <% if (!flag && !fail) { %>
        <div class="alert alert-success mx-auto mb-5 text-center w-25" id="alert1">
            <i class="fa fa-gift" aria-hidden="true"></i> Register!! It's free!!
        </div>
    <% } else if (flag && fail) { %>
        <div class="alert alert-danger mx-auto mb-5 text-center w-25" id="alert2">
            <i class="fa fa-exclamation-circle fa-1x" aria-hidden="true"></i>
             Username <strong><%=username%></strong> already exists!<br>Register a new one!
        </div>
    <% } else { %>
        <div></div>
    <% } %>

    <div class="alert alert-dark mx-auto mt-5 mb-5 text-center w-25">
        <a href="/api/auth/github" class="btn btn-success mx-auto my-3">Login with Github <i class="fa fa-github" aria-hidden="true"></i></a><br>
        <a href="/api/auth/login" class="btn btn-secondary mx-auto my-3">Back to Login <i class="fa fa-undo" aria-hidden="true"></i></a>
    </div>
    <br>
    <footer>
        <%- include('../partials/footer/footer') %>
    </footer>

    <!--    scripts     -->
        
</body>

</html>