<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head/head'); %>
</head>

<body>
    <%- include('../partials/header/header'); %>

    <%- include('../partials/userBanner/userBanner'); %>
    <br>
        <h2 class="d-block mx-auto my-2 text-center">Test System Information</h2>
        <div class="d-block mx-auto mb-3 text-center w-75">
            <%- include('../partials/data/dataTestSystem'); %>
        </div>
            <div class="d-block mx-auto my-4 pb-5 text-center">
                <a class="btn btn-success my-2 me-5" href="/info/system"><i class="fa fa-info" aria-hidden="true"></i> Back to Info </a>
                <a class="btn btn-primary my-2 ms-5" href="/api/auth/index"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Back to Home </a>
            </div>
            <footer>
                <%- include('../partials/footer/footer'); %>
            </footer>
<!--    scripts     -->
<script type="text/javascript" src="../../../clock.js"></script>
<script type="text/javascript" src="../../../expiresSession.js"></script>
</body>
</html>