<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <%- include('../partials/userBanner'); %>
        <!-- <div id="updateUsuario">
        </div> -->
        <%- include('../partials/formUpdateUser'); %>
            <br>
            <footer>
                <%- include('../partials/footer'); %>
            </footer>

            <!--    scripts     -->
            <script type="text/javascript" src="../../../userDetail.js"></script>
            <script type="text/javascript" src="../../../clock.js"></script>
            <script type="text/javascript" src="../../../expiresSession.js"></script>
</body>

</html>