<!-- --------- tablaProceso3D ----------- -->
<table id="tablaProceso3D<%=k%>"
    class="table-responsive align-middle col-5 border-end border-dark"
    style="font-size: 10pt; width: 100%">
    <thead class="align-middle"
        style="background-color: #aac">
        <tr>
            <th colspan="2" class="text-center">
                PROCESO 3D
                <button
                    id="posBtnAddDataProceso3d<%=k%>"
                    name="btnProceso3d"
                    class="btn btn-small btn-success m-1"
                    style="--bs-btn-font-size: .6rem; color: var(--bs-white);"
                    title="Agregar/Modificar Datos"
                    value="<%=k%>">
                    <i class="fa-solid fa-pencil fa-lg" aria-hidden="true"></i>
                </button>
            </th>
        </tr>
        <tr>
            <th style="width:50vw" scope="col-1"
                class="text-center"> Proceso 3D
            </th>
            <th style="width:50vw" scope="col-1"
                class="text-center"> Hs Proceso 3D
            </th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        
        <% for ( let n=0; proyecto[m].project[j].oci[k].otProject.length>n; n++) {
            if (proyecto[m].project[j].oci[k].otProject[n].visible) {
                if (proyecto[m].project[j].oci[k].otProject[n].otStatus) { %>
                    <tr name="rowSelected<%=k%>_<%=n%>" style="height: 7vh;">
                        <td class="text-center align-middle">
                            <% if (proyecto[m].project[j].oci[k].otProject[n].otInformation.length > 0) {
                                var resProceso3d = proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoProceso[0].proceso3d
                            } else {
                                var resProceso3d = ''
                            }
                                
                            switch (resProceso3d) { 
                                case "ok": { %>
                                        <span id="resProceso3d<%=k%>_<%=n%>" class="badge rounded-pill bg-success text-white my-2" >
                                            OK
                                        </span>
                                <% break; }        
                                case "noOk": { %>
                                        <span id="resProceso3d<%=k%>_<%=n%>" class="badge rounded-pill bg-danger text-white my-2">
                                            No OK
                                        </span>
                                <% break; }        
                                case "pendiente": { %>
                                        <span id="resProceso3d<%=k%>_<%=n%>" class="badge rounded-pill bg-warning text-dark my-2">
                                            Pendiente
                                        </span>
                                <% break; }
                                case "noAplica": { %>
                                        <span id="resProceso3d<%=k%>_<%=n%>" class="badge rounded-pill bg-secondary text-white my-2">
                                            N/A
                                        </span>
                                <% break; }
                                default: { %>
                                        <span id="resProceso3d<%=k%>_<%=n%>" class="badge rounded-pill bg-info text-dark my-2">
                                            S/D
                                        </span>
                                <% break; }
                            } %>
                        </td>
                        <td class="text-center align-middle">
                            <% if (proyecto[m].project[j].oci[k].otProject[n].otInformation.length > 0) { 
                                var resHoras3d = proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoProceso[0].horasProceso3d
                            } else {
                                var resHoras3d = 0
                            } %>
                            
                            <span id="resHorasProceso3d<%=k%>_<%=n%>" class="text-black mx-1">
                                <% resHoras3d %>
                            </span>
                        </td>
                    </tr>

                <% } else { %>
                    <tr style="height: 7vh; background-color: #dedede;">
                        <td class="text-center align-middle">
                            
                            <% if (proyecto[m].project[j].oci[k].otProject[n].otInformation.length > 0) {
                                var resProceso3d = proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoProceso3d[0].proceso3d
                            } else {
                                var resProceso3d = ''
                            }

                            switch (resProceso3d) { 
                                case "ok": { %>
                                        <span id="resProceso3d<%=k%>_<%=n%>" class="badge rounded-pill bg-success text-white my-2" >
                                            OK
                                        </span>
                                <% break; }        
                                case "noOk": { %>
                                        <span id="resProceso3d<%=k%>_<%=n%>" class="badge rounded-pill bg-danger text-white my-2">
                                            No OK
                                        </span>
                                <% break; }        
                                case "pendiente": { %>
                                        <span id="resProceso3d<%=k%>_<%=n%>" class="badge rounded-pill bg-warning text-dark my-2">
                                            Pendiente
                                        </span>
                                <% break; }
                                case "noAplica": { %>
                                        <span id="resProceso3d<%=k%>_<%=n%>" class="badge rounded-pill bg-secondary text-white my-2">
                                            N/A
                                        </span>
                                <% break; }
                                default: { %>
                                        <span id="resProceso3d<%=k%>_<%=n%>" class="badge rounded-pill bg-info text-dark my-2">
                                            S/D
                                        </span>
                                <% break; }
                            } %>

                        </td>
                        <td class="text-center align-middle">
                            <% if (proyecto[m].project[j].oci[k].otProject[n].otInformation.length > 0) { 
                                var resHoras3d = proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoProceso[0].horasProceso3d
                            } else {
                                var resHoras3d = 0
                            } %>
                            <span id="resHorasProceso3d<%=k%>_<%=n%>" class="text-black mx-1">
                                <% resHoras3d %>
                            </pan>

                        </td>
                    </tr>
                <% }
            }
        } %>
    </tbody>
</table>