<!-- mostrar botones de acuerdo a cantidad de slides -->
<div class="carousel-indicators position-absolute top-100 start-0 pb-5">
    <% if (proyecto[0].project[0].levelProject == 'paraCotizar') { %>
        <button type="button"
            data-bs-target="#carouselExampleControls<%=k%>"
            data-bs-slide-to="0" class="active bg-dark"
            aria-current="true" aria-label="Slide 1"
            title="S0">
        </button>
        <button type="button"
            data-bs-target="#carouselExampleControls<%=k%>"
            data-bs-slide-to="1" class="bg-dark"
            aria-label="Slide 2"
            title="Proceso 3D">
        </button>

    <% } else if (proyecto[0].project[0].levelProject == 'aRiesgo') { %>                                            
        <button type="button"
            data-bs-target="#carouselExampleControls<%=k%>"
            data-bs-slide-to="0" class="active bg-dark"
            aria-current="true" aria-label="Slide 1"
            title="R-14">
        </button>
        <button type="button"
            data-bs-target="#carouselExampleControls<%=k%>"
            data-bs-slide-to="1" class="bg-dark"
            aria-label="Slide 2"
            title="Proceso 3D">
        </button>
        <button type="button"
            data-bs-target="#carouselExampleControls<%=k%>"
            data-bs-slide-to="2" class="bg-dark"
            aria-label="Slide 3" title="Diseño">
        </button>
        <button type="button"
            data-bs-target="#carouselExampleControls<%=k%>"
            data-bs-slide-to="3" class="bg-dark"
            aria-label="Slide 4" title="Info 80%">
        </button>
        <button type="button"
            data-bs-target="#carouselExampleControls<%=k%>"
            data-bs-slide-to="4" class="bg-dark"
            aria-label="Slide 5" title="S0">
        </button>
        <button type="button"
            data-bs-target="#carouselExampleControls<%=k%>"
            data-bs-slide-to="5" class="bg-dark"
            aria-label="Slide 6" title="S1">
        </button>
        <button type="button"
            data-bs-target="#carouselExampleControls<%=k%>"
            data-bs-slide-to="6" class="bg-dark"
            aria-label="Slide 7" title="S2-3">
        </button>
        
    <% } else { %>
        <button type="button"
            data-bs-target="#carouselExampleControls<%=k%>"
            data-bs-slide-to="0" class="active bg-dark"
            aria-current="true" aria-label="Slide 1"
            title="R-14">
        </button>
        <button type="button"
            data-bs-target="#carouselExampleControls<%=k%>"
            data-bs-slide-to="1" class="bg-dark"
            aria-label="Slide 2"
            title="Proceso 3D">
        </button>
        <button type="button"
            data-bs-target="#carouselExampleControls<%=k%>"
            data-bs-slide-to="2" class="bg-dark"
            aria-label="Slide 3" title="Diseño">
        </button>
        <button type="button"
            data-bs-target="#carouselExampleControls<%=k%>"
            data-bs-slide-to="3" class="bg-dark"
            aria-label="Slide 4" title="Info 80%">
        </button>
        <button type="button"
            data-bs-target="#carouselExampleControls<%=k%>"
            data-bs-slide-to="4" class="bg-dark"
            aria-label="Slide 5" title="Info 100%">
        </button>
        <button type="button"
            data-bs-target="#carouselExampleControls<%=k%>"
            data-bs-slide-to="5" class="bg-dark"
            aria-label="Slide 6" title="S0">
        </button>
        <button type="button"
            data-bs-target="#carouselExampleControls<%=k%>"
            data-bs-slide-to="6" class="bg-dark"
            aria-label="Slide 7" title="S1">
        </button>
        <button type="button"
            data-bs-target="#carouselExampleControls<%=k%>"
            data-bs-slide-to="7" class="bg-dark"
            aria-label="Slide 8" title="S2-3">
        </button>
        <button type="button"
            data-bs-target="#carouselExampleControls<%=k%>"
            data-bs-slide-to="8" class="bg-dark"
            aria-label="Slide 9" title="S4">
        </button>
        <button type="button"
            data-bs-target="#carouselExampleControls<%=k%>"
            data-bs-slide-to="9" class="bg-dark"
            aria-label="Slide 10" title="S5">
        </button>
    <% } %>        
</div>