<!-- tabla seguimiento -->
                                                                
<table id="tablaSeguimiento<%=k%>"
    name="tablaSeguimiento"
    class="table-responsive align-middle col-3 border-end border-dark"
    style="font-size: 10pt">
    <thead class="align-middle"
        style="background-color: #bbc">
        <tr>
            <th colspan="2" class="text-center"> INTERNO
            </th>
            <th colspan="1" class="text-center"> EXTERNO
            </th>
        </tr>
        <tr>
            <th style="width:30vw" scope="col-1"
                class="text-center"> Diseño
            </th>
            <th style="width:30vw" scope="col-1"
                class="text-center"> Simulación
            </th>
            <th style="width:30vw" scope="col-1"
                class="text-center"> Proveedor
            </th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        <% for ( let n=0; proyecto[m].project[j].oci[k].otProject.length> n; n++) { 
            if (proyecto[m].project[j].oci[k].otProject[n].visible) {
                if (proyecto[m].project[j].oci[k].otProject[n].otStatus) { %>
                    <tr name="rowSelected<%=k%>_<%=n%>" style="height: 7vh;">
                        <td class="text-center">
                            <small id="otDesign<%=k%>_<%=n%>" class="text-dark align-middle">
                                <%= proyecto[m].project[j].oci[k].otProject[n].otDesign %>
                            </small>
                        </td>
                        <td class="text-center align-middle">
                            <small id="otSimulation<%=k%>_<%=n%>" class="text-dark">
                                <%= proyecto[m].project[j].oci[k].otProject[n].otSimulation %>
                            </small>
                        </td>
                        <td class="text-center align-middle">
                            <small id="otSupplier<%=k%>_<%=n%>" class="text-dark">
                                <%= proyecto[m].project[j].oci[k].otProject[n].otSupplier %>
                            </small>
                        </td>
                    </tr>   
                <% } else { %>
                    <tr style="height: 7vh; background-color: #dedede;">
                        <td class="text-center">
                            <small class="text-dark align-middle">
                                <%= proyecto[m].project[j].oci[k].otProject[n].otDesign %>
                            </small>
                        </td>
                        <td class="text-center align-middle">
                            <small class="text-dark">
                                <%= proyecto[m].project[j].oci[k].otProject[n].otSimulation %>
                            </small>
                        </td>
                        <td class="text-center align-middle">
                            <small class="text-dark">
                                <%= proyecto[m].project[j].oci[k].otProject[n].otSupplier %>
                            </small>
                        </td>
                    </tr>
                <% }
            }
        } %>
    </tbody>
</table>