<!-- --------- tablaProceso3D ----------- -->
<table id="tablaProceso3D<%=k%>"
    class="table-responsive align-middle col-5 border-end border-dark"
    style="font-size: 10pt; width: 100%">
    <thead class="align-middle"
        style="background-color: #aac">
        <tr>
            <th colspan="2" class="text-center">
                PROCESO 3D
                <button
                    id="posBtnAddDataProceso3d<%=k%>"
                    name="btnProceso3d"
                    class="btn btn-small btn-success m-1"
                    style="--bs-btn-font-size: .6rem; color: var(--bs-white);"
                    title="Agregar Datos"
                    value="<%=k%>">
                    <i class="fa-solid fa-plus"                                                                              aria-hidden="true"></i>
                </button>
            </th>
        </tr>
        <tr>
            <th style="width:50vw" scope="col-1"
                class="text-center"> Proceso 3D
            </th>
            <th style="width:50vw" scope="col-1"
                class="text-center"> Hs Proceso 3D
            </th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        
        <% for ( let n=0; proyecto[m].project[j].oci[k].otProject.length>n; n++) {
            if (proyecto[m].project[j].oci[k].otProject[n].visible) {
                if (proyecto[m].project[j].oci[k].otProject[n].otStatus) { %>
                    <tr name="rowSelected<%=k%>_<%=n%>" style="height: 7vh;">
                        <td class="text-center align-middle">
                            <span class="badge rounded-pill bg-success text-white my-2">
                                100%
                            </span>
                            <span
                                class="badge rounded-pill bg-success text-white my-2">
                                OK
                            </span>
                        </td>
                        <td class="text-center align-middle">
                            <span class="text-black mx-1">
                                25
                            </span>
                        </td>
                    </tr>
                <% } else { %>
                    <tr style="height: 7vh; background-color: #dedede;">
                        <td class="text-center align-middle">
                            <span class="badge rounded-pill bg-success text-white my-2">
                                100%
                            </span>
                            <span class="badge rounded-pill bg-success text-white my-2">
                                OK
                            </span>
                        </td>
                        <td class="text-center align-middle">
                            <span class="text-black mx-1">
                                25
                            </pan>
                        </td>
                    </tr>
                <% }
            }
        } %>
    </tbody>
</table>