<div class="container-fluid" style="background-color: #F5F7FA;">
  <section id="minimal-statistics" class="mx-auto" style="width: 92%;">
      <div class="row">
        <div class="col-12">
          <hr>
          <h4 class="text-uppercase">Aplicación de Seguimiento</h4>
          <p>Departamento de Ingeniería Prodismo</p>
          <hr>
        </div>
      </div>

      <div class="row justify-content-evenly">
        <!-- clientes -->
        <div class="col-xl-3 col-sm-6 col-12">
          <a href="/api/clientes" style="text-decoration: none;">
            <div class="card rounded-3 card_dashboard">
              <div class="card-content">
                <div class="card-body">
                  <div class="media d-flex mx-2">
										<div class="media-body text-left">
                      <% let countClient = 0 
                        for (let i=0; clientes.length>i; i++ ) {
                          if (clientes[i].visible) {
                            countClient++
                          } 
                        } %>
											<h3 class="font-medium"><%= parseInt(countClient) %></h3>
											<span>Clientes</span>
										</div>
                    <div class="align-self-center ms-auto">
                      <i class="fa-regular fa-handshake fa-3x primary float-right"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        	</a>
        </div>
        <!-- proyectos -->
        <div class="col-xl-3 col-sm-6 col-12">
          <a href="/api/proyectos/" style="text-decoration: none;">
            <div class="card rounded-3 card_dashboard">
              <div class="card-content">
                <div class="card-body">
                  <div class="media d-flex mx-2">
                    <div class="media-body text-left">
                      <% let arrayProject = []
                        for (let i=0; clientes.length>i; i++ ) {
                          arrayProject.push(clientes[i].project)
                        }
                        function sumarArray(arr) {
                          return arr.reduce((suma, numero) => suma + numero, 0);
                        }
                        const resultado = sumarArray(arrayProject);
                      %>
                      <h3 class="font-medium"><%= resultado %></h3>
                      <span>Proyectos</span>
                    </div>
                    <div class="align-self-center ms-auto">
                      <i class="icon-rocket danger font-large-2 float-right"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        
        <!-- mensajes -->
        <div class="col-xl-3 col-sm-6 col-12">
          <a href="/api/webchat/" style="text-decoration: none;">
            <div class="card rounded-3 card_dashboard">
              <div class="card-content">
                <div class="card-body">
                  <div class="media d-flex mx-2">
                    <div class="media-body text-start">
                      <% let cantMensajes=0
                        for (let i=0; mensajes.length>i; i++) {
                          if (mensajes[i].status) {
                             cantMensajes++
                          } 
                        } %>
                      <h3 class="font-medium"><%= parseInt(cantMensajes) %></h3>
                      <span>Mensajes</span>
                    </div>
                    <div class="align-self-center ms-auto">
                      <i class="icon-bubbles warning font-large-2 float-right"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    
      <div class="row justify-content-evenly">
        <!-- clientes con proyectos activos -->
        <div class="col-xl-3 col-sm-6 col-12">
          <div class="card rounded-3 card_dashboard">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex mx-2">
                  <div class="media-body text-left">
                    <% let arrayActiveProject = []
                      for (let i=0; clientes.length>i; i++ ) {
                        if (clientes[i].project>0) {
                          arrayActiveProject.push(clientes[i].project)
                        }
                      } %>
                    <h3><%= arrayActiveProject.length %></h3>
                    <span>Clientes con proyectos activos</span>
                  </div>
                  <div class="align-self-center ms-auto">
                    <i class="icon-pin warning font-large-2 float-right"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- oci's -->
        <div class="col-xl-3 col-sm-6 col-12">
          <a href="/api/proyectos/oci-list/all" style="text-decoration: none;">
            <div class="card rounded-3 card_dashboard">
              <div class="card-content">
                <div class="card-body">
                  <div class="media d-flex mx-2">
                    <div class="media-body text-left">
                      <% let arrayOci = []
                        for (let i=0; proyectos.length>i; i++ ) {
                          if (proyectos[i].visible) {
                            arrayOci.push(proyectos[i].project[0])
                          }
                        }

                        let arrayVisibleOci = []
                        for (let j=0; arrayOci.length>j; j++ ) {
                          if (arrayOci[j].visible) {
                            arrayVisibleOci.push(arrayOci[j].oci)
                          }
                        }

                        let arrayActiveOci = [].concat(...arrayVisibleOci)
                        let resultArrayOci = []
                        for (let k=0; arrayActiveOci.length>k; k++ ) {
                          if (arrayActiveOci[k].visible) {
                            resultArrayOci.push(arrayActiveOci[k].ociNumber)
                          }
                        } %>
                      <h3 class="font-medium"><%= resultArrayOci.length %>/<span style="font-size: 0.95rem;" ><%=arrayActiveOci.length%></span></h3>
                      <span>Cantidad de OCI's</span>
                    </div>
                    <div class="align-self-center ms-auto">
                      <i class="icon-settings success font-large-2 float-right"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
    
        <div class="col-xl-3 col-sm-6 col-12">
          <div class="card rounded-3 card_dashboard">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex mx-2">
                  <div class="media-body text-left">
                    <h3 class="warning">??.? %</h3>
                    <span>Graficos</span>
                  </div>
                  <div class="align-self-center ms-auto">
                    <i class="icon-pie-chart warning font-large-2 float-right"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <div class="row justify-content-evenly">
        <!-- Tasa conversion -->
        <div class="col-xl-3 col-sm-6 col-12">
          <div class="card rounded-3 card_dashboard">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex mx-2">
                  <div class="media-body text-left">
                    <% let countActiveProject = 0
                       let countVisibleClient = 0
                        for (let i=0; clientes.length>i; i++ ) {
                          if (clientes[i].visible) {
                            if (clientes[i].project>0) {
                              countActiveProject++
                            }
                            countVisibleClient++
                          }
                        } 
                          let valueRateClient = parseFloat((countActiveProject / countVisibleClient)*100).toFixed(2)
                    %>

                    <h3 class="primary"><%= valueRateClient %> %</h3>
                    <span>Tasa conversion</span>
                  </div>
                  <div class="align-self-center ms-auto">
                    <i class="icon-badge danger font-large-2 float-right"></i>
                  </div>
                </div>
                <div class="progress mt-1 mb-0" style="height: 7px;">
                  <div class="progress-bar bg-primary" role="progressbar" style="width: <%= valueRateClient %>%" aria-valuenow="<%= valueRateClient %>" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- cantidad de OT -->
        <div class="col-xl-3 col-sm-6 col-12">
          <div class="card rounded-3 card_dashboard">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex mx-2">
                  <div class="media-body text-left">
                    <% let arrayOt = []
                      for (let i=0; proyectos.length>i; i++ ) {
                        if (proyectos[i].visible) {
                          arrayOt.push(proyectos[i].project[0])
                        }
                      }

                      let arrayVisibleOt = []
                      for (let j=0; arrayOt.length>j; j++ ) {
                        if (arrayOt[j].visible) {
                          arrayVisibleOt.push(arrayOt[j].oci)
                        }
                      }

                      let arrayActiveOt = [].concat(...arrayVisibleOt)
                      let resultArrayOt = []
                      for (let k=0; arrayActiveOt.length>k; k++ ) {
                        if (arrayActiveOt[k].visible) {
                          resultArrayOt.push(arrayActiveOt[k].otProject)
                        }
                      }

                      const arraysNoVacios = resultArrayOt.filter(subarray => subarray.length > 0);
                      let arrayResultOt = [].concat(...arraysNoVacios)
                      let arrayFinalOt = []
                      for (let p=0; arrayResultOt.length>p; p++ ) {
                        if (arrayResultOt[p].visible) {
                          arrayFinalOt.push(arrayResultOt[p].visible)
                        }
                      } %>

                    <h3 class="font-medium"><%= arrayFinalOt.length %>/<span style="font-size: 0.95rem;" ><%=arrayResultOt.length%></span></h3>
                    <span>Cantidad de OT's</span>
                  </div>
                  <div class="align-self-center ms-auto">
                    <i class="icon-list primary font-large-2 float-right"></i>
                  </div>
                </div>
                <div class="progress mt-1 mb-0" style="height: 7px;">
                  <div class="progress-bar bg-warning" style="width: <%= arrayFinalOt.length %>%" role="progressbar" aria-valuenow="<%= arrayFinalOt.length %>" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- total visitas -->
        <div class="col-xl-3 col-sm-6 col-12">
          <div class="card rounded-3 card_dashboard">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex mx-2">
                  <div class="media-body text-left">
                    <h3 class="danger"><%= visits %></h3>
                    <span>Total Visitas</span>
                  </div>
                  <div class="align-self-center ms-auto">
                    <i class="icon-directions danger font-large-2 float-right"></i>
                  </div>
                </div>
                <div class="progress mt-1 mb-0" style="height: 7px;">
                  <div class="progress-bar bg-danger" role="progressbar" style="width: <%= visits %>%" aria-valuenow="<%= visits %>" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>