<!-- boton accordion OCI's -->
<button class="accordion-button p-1" type="button" data-bs-toggle="collapse"
    data-bs-target="#panelsStayOpen-collapseOneCard<%=k %>" aria-expanded="false"
    aria-controls="panelsStayOpen-collapseOneCard<%=k %>">
    <ul class="list-group list-group-horizontal flex-fill">
        <li class="list-group-item list-group-item-secondary my-1">
            # <strong class="mx-2"><%= k+1 %></strong>
        </li>
        <li class="list-group-item list-group-item-secondary my-1">
            OCI#: <strong class="mx-2">
                <%= proyecto[m].project[j].oci[k].ociNumber %>
            </strong>
        </li>
        <li class="list-group-item list-group-item-secondary my-1">
            Descripcion: <%= proyecto[m].project[j].oci[k].ociDescription %>
        </li>
        <li class="list-group-item list-group-item-secondary my-1">
            <% if (proyecto[m].project[j].oci[k].ociStatus) {
                const ociStatus="Activa" %>
                Status OCI:
                    <span class="badge rounded-pill bg-primary text-white mx-1">
                        <%= ociStatus %>
                    </span>
            <% } else {
                const ociStatus="Inactiva" %>
                Status OCI:
                    <span class="badge rounded-pill bg-danger text-white mx-1">
                        <%= ociStatus %>
                    </span>
            <% } %>
        </li>
    </ul>
</button>