<div class="card mt-2 mb-5 mx-auto text-center" style="max-width: 98vw;">
    <div class="row align-items-center mx-1">

        <!-- --------- columna #1 datos de proyecto --------- -->
        <%- include('../partials/dataProjectCard_col1_projData'); %>
        
        <!-- --------- contenedor status de proyecto --------- -->
        <%- include('../partials/dataProjectCard_contStatusProy'); %>

            <div class="card-body px-1">
                <% let j=0;
                    if (proyecto.length> 0) { 
                        for ( let m=0; proyecto.length> m; m++) { %>
                            
                            <div class="accordion" id="accordionPanelsStayOpenExample">
                                
                                <% var countVisibleOci=0
                                    var arrayVisibleOci = [] 
                                    for ( let x=0; proyecto[m].project[j].oci.length> x; x++) {
                                        if (proyecto[m].project[j].oci[x].visible) { 
                                            arrayVisibleOci.push(proyecto[m].project[j].oci[x])
                                                countVisibleOci++
                                        }
                                    }    
                                        
                                        if (arrayVisibleOci.length > 0 && countVisibleOci > 0) {
                                            for (let k=0; arrayVisibleOci.length > k; k++) { %>
                                        
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="panelsStayOpen-headingOneCard">

                                                        <!-- ------ boton accordion OCI's ------ -->
                                                        <button class="accordion-button p-1" type="button" data-bs-toggle="collapse"
                                                            data-bs-target="#panelsStayOpen-collapseOneCard<%=k %>" aria-expanded="false"
                                                            aria-controls="panelsStayOpen-collapseOneCard<%=k %>">
                                                            <ul class="list-group list-group-horizontal flex-fill">
                                                                <li class="list-group-item list-group-item-secondary my-1">
                                                                    # <strong class="mx-2"><%= k+1 %></strong>
                                                                </li>
                                                                <li class="list-group-item list-group-item-secondary my-1">
                                                                    OCI#: <strong class="mx-2">
                                                                        <%= arrayVisibleOci[k].ociNumber %>
                                                                    </strong>
                                                                </li>
                                                                <li class="list-group-item list-group-item-secondary my-1">
                                                                    Descripcion: <%= arrayVisibleOci[k].ociDescription %>
                                                                </li>
                                                                <li class="list-group-item list-group-item-secondary my-1">
                                                                    <% if (arrayVisibleOci[k].ociStatus) {
                                                                        const ociStatus="Activa" %>
                                                                        Status OCI:
                                                                            <span class="badge rounded-pill bg-primary text-white mx-1">
                                                                                <%= ociStatus %>
                                                                            </span>
                                                                    <% } else {
                                                                        const ociStatus="Inactiva" %>
                                                                        Status OCI:
                                                                            <span class="badge rounded-pill bg-danger text-white mx-1">
                                                                                <%= ociStatus %>
                                                                            </span>
                                                                    <% } %>
                                                                </li>
                                                            </ul>
                                                        </button>
                                                        
                                                    </h2>

                                                    <div id="panelsStayOpen-collapseOneCard<%=k %>" class="accordion-collapse show"
                                                        aria-labelledby="panelsStayOpen-headingOne">

                                                        <% if (arrayVisibleOci[k].ociStatus) { %>
                                                            <div class="accordion-body px-1 mw-100">
                                                        <% } else { %>
                                                            <div class="accordion-body px-1 mw-100 pe-none" contenteditable="false" style="background-color: rgba(0, 0, 0, 0.25); opacity: 0.5">
                                                        <% } %>

                                                                <div class="container-fluid">
                                                                    <% if (arrayVisibleOci[k].otProject.length> 0) { %>

                                                                        <!-- cabecera botonera principal de OCI -->
                                                                        <%- include('../partials/dataProjectCard_btnOci', { k, m, j }); %>                    
                                                                        
                                                                        <div class="d-flex flex-row my-3">
                                                                            <!-- ----- tabla general ----- -->
                                                                            <%- include('../partials/dataProjectCard_tablaGral', { k, m, j }); %>
                                                                                                                                            
                                                                            <!-- ----- tabla seguimiento ----- -->
                                                                            <%- include('../partials/dataProjectCard_tablaSeguim', { k, m, j }); %>

                                                                            <!-- Carousel de Tablas ----- -->
                                                                            <div id="carouselExampleControls<%=k%>"
                                                                                class="carousel slide" data-bs-ride="carousel">

                                                                                <!-- ----- mostrar botones de acuerdo a cantidad de slides ----- -->
                                                                                <%- include('../partials/dataProjectCard_btnSlides', { k, m, j }); %>
                                                                                                                                                    
                                                                                <% if (proyecto[0].project[0].levelProject == 'paraCotizar') { %>
                                                                                    <div class="carousel-inner">
                                                                                        <div class="carousel-item active" data-bs-interval="600000">

                                                                                            <!-- --------- tabla S0 ----------- -->
                                                                                            <%- include('../partials/dataProjectCard_tablaS0', { k, m, j }); %>
                                                                                        </div>
                                                                                        <div class="carousel-item" data-bs-interval="600000">

                                                                                        <!-- --------- tablaProceso3D ----------- -->
                                                                                        <%- include('../partials/dataProjectCard_tablaProceso3d', { k, m, j }); %>
                                                                                        </div>
                                                                                    </div>

                                                                                <% } else if (proyecto[0].project[0].levelProject == 'aRiesgo') { %>                                                                
                                                                                    <div class="carousel-inner">
                                                                                        <div class="carousel-item active" data-bs-interval="600000">

                                                                                            <!-- --------- tabla R14 ----------- -->
                                                                                            <%- include('../partials/dataProjectCard_tablaR14', { k, m, j }); %>
                                                                                        </div>
                                                                                        <div class="carousel-item" data-bs-interval="600000">

                                                                                            <!-- --------- tabla Proceso3D ----------- -->
                                                                                            <%- include('../partials/dataProjectCard_tablaProceso3d', { k, m, j }); %>
                                                                                        </div>
                                                                                        <div class="carousel-item" data-bs-interval="600000">

                                                                                            <!-- --------- tabla Diseno ----------- -->
                                                                                            <%- include('../partials/dataProjectCard_tablaDiseno', { k, m, j }); %>
                                                                                        </div>
                                                                                        <div class="carousel-item" data-bs-interval="600000">

                                                                                            <!-- --------- tabla Info al 80% ----------- -->
                                                                                            <%- include('../partials/dataProjectCard_tablaInfo80', { k, m, j }); %>
                                                                                        </div>
                                                                                        <div class="carousel-item" data-bs-interval="600000">

                                                                                            <!-- --------- tabla S0 ----------- -->
                                                                                            <%- include('../partials/dataProjectCard_tablaS0', { k, m, j }); %>
                                                                                        </div>
                                                                                        <div class="carousel-item" data-bs-interval="600000">

                                                                                            <!-- --------- tabla S1 ----------- -->
                                                                                            <%- include('../partials/dataProjectCard_tablaS1', { k, m, j }); %>
                                                                                        </div>
                                                                                        <div class="carousel-item" data-bs-interval="600000">

                                                                                        <!-- --------- tabla S2-S3 ----------- -->
                                                                                        <%- include('../partials/dataProjectCard_tablaS2_3', { k, m, j }); %>
                                                                                        </div>                                                
                                                                                    </div>
                                                                                
                                                                                <% } else { %>
                                                                                    <div class="carousel-inner">
                                                                                        <div class="carousel-item active" data-bs-interval="600000">

                                                                                            <!-- --------- tabla R14 ----------- -->
                                                                                            <%- include('../partials/dataProjectCard_tablaR14', { k, m, j }); %>
                                                                                        </div>
                                                                                        <div class="carousel-item" data-bs-interval="600000">

                                                                                            <!-- --------- tablaProceso3D ----------- -->
                                                                                            <%- include('../partials/dataProjectCard_tablaProceso3d', { k, m, j }); %>
                                                                                        </div>
                                                                                        <div class="carousel-item" data-bs-interval="600000">

                                                                                        <!-- --------- tabla Diseno ----------- -->
                                                                                        <%- include('../partials/dataProjectCard_tablaDiseno', { k, m, j }); %>
                                                                                        </div>
                                                                                        <div class="carousel-item" data-bs-interval="600000">

                                                                                            <!-- --------- tabla Info al 80% ----------- -->
                                                                                            <%- include('../partials/dataProjectCard_tablaInfo80', { k, m, j }); %>
                                                                                        </div>
                                                                                        <div class="carousel-item" data-bs-interval="600000">

                                                                                            <!-- --------- tabla Info al 100% ----------- -->
                                                                                            <%- include('../partials/dataProjectCard_tablaInfo100', { k, m, j }); %>
                                                                                        </div>
                                                                                        <div class="carousel-item" data-bs-interval="600000">

                                                                                            <!-- --------- tabla S0 ----------- -->
                                                                                            <%- include('../partials/dataProjectCard_tablaS0', { k, m, j }); %>
                                                                                        </div>
                                                                                        <div class="carousel-item" data-bs-interval="600000">

                                                                                            <!-- --------- tabla S1 ----------- -->
                                                                                            <%- include('../partials/dataProjectCard_tablaS1', { k, m, j }); %>
                                                                                        </div>
                                                                                        <div class="carousel-item" data-bs-interval="600000">

                                                                                            <!-- --------- tabla S2-S3 ----------- -->
                                                                                            <%- include('../partials/dataProjectCard_tablaS2_3', { k, m, j }); %>
                                                                                        </div>
                                                                                        <div class="carousel-item" data-bs-interval="600000">

                                                                                            <!-- --------- tabla S4 ----------- -->
                                                                                            <%- include('../partials/dataProjectCard_tablaS4', { k, m, j }); %>
                                                                                        </div>
                                                                                        <div class="carousel-item" data-bs-interval="600000">

                                                                                            <!-- --------- tabla S5 ----------- -->
                                                                                            <%- include('../partials/dataProjectCard_tablaS5', { k, m, j }); %>
                                                                                        </div>                                                    
                                                                                    </div>
                                                                                <% } %>
                                                                                    <!-- --------- botonera carrusel < > ----------- -->
                                                                                    <%- include('../partials/dataProjectCard_btnCarrousel', { k, m, j }); %>                                                                    
                                                                            </div>
                                                                        </div>
                                                                        <hr>

                                                                        <!-- ------ contenedor datos creador por y modificado por ------ -->
                                                                        <%- include('../partials/dataProjectCard_containerDatos', { k, m, j }); %>
                                                                        
                                                                    <% } else { %>

                                                                        <!-- ------ contenedor de OCI vacía ------ -->
                                                                        <%- include('../partials/dataProjectCard_contOciVacia', { k, m, j }); %>

                                                                    <% } %>

                                                                </div>
                                                            </div>
                                                    </div>
                                                </div>
                                            <% } 
                                        } %>
                            </div>
                        <% } %>

                    <% } else { %>

                        <!-- -------- contenedor de Proyecto vacío --------- -->
                        <%- include('../partials/dataProjectCard_contProyectoVacio', { k, m, j }); %>

                    <% } %>
            </div>
        </div>
    </div>

    <!-- contenedor botonera inferior de pagina 'volver atras' 'volver al home' -->
    <%- include('../partials/dataProjectCard_btnInferior', { k, m, j }); %>
</div>