<div class="form-group col-10 mx-auto my-3 border p-3 bg-dark bg-gradient rounded text-white bg-opacity-75 shadow-lg">
    <form id="formUpdateClient" action="/api/clientes/update/<%=cliente._id%>" method="post">
        <fieldset>
            <div class="row m-3">
                <div class="col-3 mx-auto my-2">
                    <label for="idDisable">Id#</label>
                    <input type="text" name="idDisable" id="idDisable" class="form-control-plaintext text-white" value="<%=cliente._id%>"
                        disabled>
                </div>
                                
                <div class="col-2 mx-auto my-2">
                    <label for="idCreator">Creado por</label>
                    <input type="text" name="idCreator" id="idCreator" class="form-control-plaintext text-white small" value="<%=cliente.creator[0].name%> <%=cliente.creator[0].lastName%>"
                        disabled>
                </div>
                
                <div class="col-2 mx-auto my-2">
                    <label for="timestampDisable">Fecha creación</label>
                    <input type="text" name="timestampDisable" id="timestampDisable" class="form-control-plaintext text-white small" value="<%=cliente.timestamp%>"
                        disabled>
                </div>
                
                <div class="col-2 mx-auto my-2">
                    <label for="modificatorDisable">Modificado por</label>
                    <input type="text" name="modificatorDisable" id="modificatorDisable" class="form-control-plaintext text-white small" value="<%=cliente.modificator[0].name%> <%=cliente.modificator[0].lastName%>"
                        disabled>
                </div>
                
                <div class="col-auto mx-auto my-2">
                    <label for="modifiedOnDisable">Fecha modificación</label>
                    <input type="text" name="modifiedOnDisable" id="modifiedOnDisable" class="form-control-plaintext text-white small" value="<%=cliente.modifiedOn%>"
                        disabled>
                </div>
            </div>    
                <hr>
            <div class="row m-3">
                    <div class="col-3 my-3 mx-auto">
                        <label class="form-label" for="name">Nombre Cliente</label>
                        <input type="text" name="name" id="name" class="form-control" value="<%=cliente.name %>"
                            placeholder="Nombre Cliente" required>
                    </div>
                   
                    <div class="col-3 my-3 mx-auto">
                        <label class="form-label" for="code">Codigo</label>
                        <input type="text" name="code" id="code" class="form-control" value="<%=cliente.code%>"
                            placeholder="Codigo" required>
                    </div>
                    
                    <div class="col-3 my-3 mx-auto">
                        <label class="form-label" for="project">Proyectos</label>
                        <input type="number" name="project" id="project" class="form-control"
                            value="<%=cliente.project %>" placeholder="Numero de proyectos" disabled>
                    </div>
                    
                    <div class="col-3 my-3 mx-auto">
                        <label class="form-label" for="status">Status</label>
                        <select id="status" name="status" class="form-select">
                            <% if(cliente.status) { %>
                                <option selected disabled value="true">Activo</option>
                                <option value="false">Inactivo</option>
                            <% } else { %>
                                <option selected disabled value="false">Inactivo</option>
                                <option value="true">Activo</option>
                            <% } %>
                        </select>
                    </div>
            </div>

            <div class="row m-3">
                <div class="col-10 my-2">
                    <label for="formFile" class="form-label">Seleccione un archivo con el Logo</label>
                    <input class="form-control form-control" id="formFile" type="file">
                </div>

                <div class="col-10 my-2">
                    <label for="logo">URL Imagen Actual: </label><br>
                    <a href="<%=cliente.logo%>" target="_blank" class="link-light"><%=cliente.logo%></a>
                </div>
            </div>
                
                <div class="container-fluid my-1 p-1 text-center">
                    <img src="<%=cliente.logo%>" class="img-thumbnail rounded mx-auto" alt="Logo Cliente" width="200px" height="200px">
                </div>
                
                <input type="hidden" name="id" id="id" class="form-control" value="<%=cliente._id%>">
                <input type="hidden" name="logo" id="logo" class="form-control" value="<%=cliente.logo%>">
                <input type="hidden" name="newLogo" id="newLogo" class="form-control">
                
                <div class="d-flex justify-content-center my-2">
                    <button id="btnUpdateClient" class="btn btn-success me-3 my-2">Actualizar Cliente <i class="fa-solid fa-save"></i></button>
                    <a class="btn btn-primary mx-3 my-2" href="/api/clientes"> Volver <i class="fa-solid fa-arrow-left"></i></a>
                    <a class="btn btn-danger ms-3 my-2" href="/api/clientes/delete/<%=cliente._id%>">Eliminar <i class="fa-solid fa-trash"></i></a>
                </div>
        </fieldset>
    </form>
</div>