<div class="form-group col-10 mx-auto mt-2 mb-5 w-75 border p-3 text-white bg-opacity-75" style="background-color: #666666;">
    <h3 class="mx-auto my-2 text-center">Actualizar o Eliminar Usuario</h3>
    <form id="formUpdateUser" enctype="multipart/form-data" action="/api/usuarios/update/<%=usuario._id%>" method="post">
        <fieldset>
            <div class="row my-2 mx-auto">
                <div class="col-3">
                    <label for="idDisable">Id#</label>
                    <input type="text" name="idDisable" id="idDisable" class="form-control-plaintext text-white"
                        value="<%=usuario._id%>" disabled>
                </div>
                <br>
                <div class="col-2">
                    <label for="creatorDisable">Creado por</label>
                    <input type="text" name="creatorDisable" id="creatorDisable"
                        class="form-control-plaintext text-white small" value="<%=usuario.creator[0].name%>, <%=usuario.creator[0].lastName%>" disabled>    
                </div>
                <br>
                <div class="col-2">
                    <label for="timestampDisable">Fecha Creación</label>
                    <input type="text" name="timestampDisable" id="timestampDisable"
                        class="form-control-plaintext text-white small" value="<%=usuario.timestamp%>" disabled>
                </div>
                <br>
                <div class="col-2">
                    <label for="modifiedDisable">Modificado por</label>
                    
                    <% if (usuario.modificator[0].name !== "") { %>
                        <input type="text" name="modifiedDisable" id="modifiedDisable"
                        class="form-control-plaintext text-white small" value="<%= usuario.modificator[0].name %>, <%= usuario.modificator[0].lastName %>"
                        disabled>

                    <% } else { %>
                        <input type="text" name="modifiedDisable" id="modifiedDisable"
                        class="form-control-plaintext text-white small" value="" disabled>

                    <% } %>        
                </div>
                <br>
                <br>
                <div class="col-auto">
                    <label for="modifiedOnDisable">Fecha Modificación</label>
                    <input type="text" name="modifiedOnDisable" id="modifiedOnDisable"
                        class="form-control-plaintext text-white small" value="<%=usuario.modifiedOn%>" disabled>
                </div>
            </div>
            <hr>
            <div class="row my-3 mx-auto">
                <div class="col-3">
                    <label for="name">Nombre</label>
                    <input type="text" name="name" id="name" class="form-control" value="<%=usuario.name%>"
                        placeholder="Nombre" required>
                </div>
                <br>
                <div class="col-3">
                    <label for="lastName">Apellido</label>
                    <input type="text" name="lastName" id="lastName" class="form-control" value="<%=usuario.lastName%>"
                        placeholder="Apellido" required>
                </div>
                <br>
                <div class="col">
                    <label for="email">Em@il</label>
                    <input type="email" name="email" id="email" class="form-control" value="<%=usuario.email%>"
                        placeholder="Ejemplo@dominio.com" required>
                </div>
                <br>
                <div class="col">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" class="form-control" value="<%=usuario.username%>"
                        placeholder="Username" required>
                </div>
                <br>
            </div>
            <div class="row justify-content-start align-items-center my-3 mx-auto">
                <div class="col">
                    <label for="fileInputAvatarUser" class="form-label">
                        Seleccione una nueva imagen de Avatar Usuario
                    </label>
                    <input type="text" id="fileInputTextAvatarUser" name="imageTextAvatarUser"
                        value="<%=usuario.avatar%>" style="display: none;">
                            
                        <input type="file" id="fileInputAvatarUser" name="imageAvatarUser"
                            value="" accept="image/*" style="display: none;">
                        <div id="drop-areaAvatarUser" class="my-3 mx-auto">
                            Arrastra y suelta una imagen aquí
                        </div>
                        <button title="Eliminar Imagen" class="btn btn-danger rounded-circle mx-auto"
                                id="removeImageAvatarUser" style="display: none;">
                                <i class="fa-solid fa-xmark"></i>
                        </button>
                        
                        <div id="alertAvatarUser" class="alert alert-warning align-items-center w-50 mx-auto" role="alert"
                            style="display: none; font-size: 0.85rem; height: 1.15rem;">
                            <strong class="me-2">Error!</strong> Solo puedes ingresar una imagen jpg, png, bmp o jpeg.
                        </div>
                </div>
            </div>
            <br>
            <div class="container-fluid my-auto">Permisos y Rol
                <div class="row my-3 mx-auto justify-content-between align-items-center">
                    <div class="col-3">
                        <label class="form-check-label" for="permiso">Seleccione un permiso</label>
                        <select class="form-select form-select" aria-label=".form-select example" name="permiso" id="permiso" required>
                            <% if (usuario.permiso === "diseno") { %>
                                <option selected disabled value="diseno">Diseño</option>
                                <option value="simulacion">Simulación</option>
                                <option value="disenoSimulacion">Diseño/Simulación</option>
                            <% } else if (usuario.permiso === "simulacion") { %>
                                <option selected disabled value="simulacion">Simulación</option>
                                <option value="diseno">Diseño</option>
                                <option value="disenoSimulacion">Diseño/Simulación</option>
                            <% } else { %>
                                <option selected disabled value="disenoSimulacion">Diseño/Simulación</option>
                                <option value="diseno">Diseño</option>
                                <option value="simulacion">Simulación</option>
                            <% } %>    
                        </select>
                        <input type="hidden" id="permisoHidden" name="permisoHidden" value="" style="display: none;">
                    </div>
                    
                    <%  if (usuario.admin) { %>
                        <div class="col-3" style="background-color: #00029090;">
                            <label for="admin">Rol</label>
                            <div class="">
                                <p class="d-inline-block me-1">Usuario</p>
                                <div class="form-check form-switch d-inline-block mt-2">
                                    <input id="admin" class="form-check-input" type="checkbox" role="switch"
                                        name="admin" style="cursor: pointer;" checked>
                                    <label class="form-check-label" for="admin">Administrador</label>
                                </div>    
                            </div>
                        </div>
                    <% } else { %>
                        <div class="col-3" style="background-color: #009e0360;">
                            <label for="admin">Rol</label>
                            <div class="">
                                <p class="d-inline-block me-1">Usuario</p>
                                <div class="form-check form-switch d-inline-block mt-2">
                                    <input id="admin" class="form-check-input" type="checkbox" role="switch"
                                        name="admin" style="cursor: pointer;">
                                    <label class="form-check-label" for="admin">Administrador</label>
                                </div>    
                            </div>
                        </div>
                    <% } %> 

                    <%  if (usuario.status) { %>
                        <div class="col-3" style="background-color: #55dd5560;">
                            <label for="status">Status Usuario</label>
                            <div class="">
                                <p class="d-inline-block me-1">Inactivo</p>
                                <div class="form-check form-switch d-inline-block mt-2">
                                    <input id="status" class="form-check-input" type="checkbox" role="switch"
                                        name="status" style="cursor: pointer;" checked>
                                    <label class="form-check-label" for="status">Activo</label>
                                </div>    
                            </div>
                        </div>
                    <% } else { %>
                        <div class="col-3" style="background-color: #dd555560;">
                            <label for="status">Status Usuario</label>
                            <div class="">
                                <p class="d-inline-block me-1">Inactivo</p>
                                <div class="form-check form-switch d-inline-block mt-2">
                                    <input id="status" class="form-check-input" type="checkbox" role="switch"
                                        name="status" style="cursor: pointer;">
                                    <label class="form-check-label" for="status">Activo</label>
                                </div>    
                            </div>
                        </div>
                    <% } %>       
                </div>

            </div>
            
            <div class="row justify-content-start align-items-center my-3 mx-auto">
                <div class="col">
                    <label for="imagenAvatar">Imagen avatar Usuario actual </label>
                    <div class="container-fluid my-1 p-1 text-center">
                        <img src="<%=usuario.avatar%>" name="imagenAvatar" class="img-thumbnail rounded mx-auto" alt="Avatar Usuario" width="200px" height="200px">
                    </div>
                </div>
            </div>
                        
            <div class="d-flex justify-content-center my-2">
                <button id="btnUpdateUser" class="btn btn-success mx-auto my-2">Actualizar Usuario <i class="fa-solid fa-save"></i></button>
                <a class="btn btn-primary my-2" href="/api/usuarios"> Volver <i class="fa-solid fa-arrow-left"></i></a>
                <a class="btn btn-danger mx-auto my-2" href="/api/usuarios/delete/<%=usuario._id%>">Eliminar <i class="fa-solid fa-trash"></i></a>
            </div>

        </fieldset>
    </form>
</div>